<!DOCTYPE HTML>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>FARE FAIR - Fácil.Justo.Moderno</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"></link>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="nav_tab.css"/>
  <link rel="stylesheet" href="center.css"/>

</head>
<body >
  <div class="container">
    <!-- SEARCH BOX -->
    <div class="col-lg-12">
      <div class="input-group search_div">
        <input type="text" class="form-control" placeholder="Procurar por nome de Bixo/Veterano/República" style="top: 1px">
        <span class="input-group-btn">
          <button class="btn btn-default glyphicon glyphicon-search" type="button"></button>
        </span>
      </div>
      <br>
    </div>
    <!-- SEARCH BOX -->
    <!-- Nav Tab Panel -->
    <div class="col-lg-12">
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#tab1default" data-toggle="tab">Bixos</a></li>
            <li><a href="#tab2default" data-toggle="tab">Veteranos</a></li>
            <li><a href="#tab3default" data-toggle="tab">Repúblicas</a></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1default">
              <div class="col-lg-12">
                <div class="list-group">
                  <form action="{% url 'university:university_course_sponsorship' campus.slug course.slug %}" method="post" class="form_input">
                    <input type="hidden" name="which_form" value="affiliate">
                    <input type="hidden" name="user_id" value="{{veteran_profile.user.id}}">
                    <input type="hidden" name="course_id" value="{{course.id}}">
                    <div class="input-group">
                      <div class="input-group-btn">
                        <!-- Buttons -->
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-user"></span></button>
                      </div>
                      <input type="text" class="form-control"  value="Marcos Jovem"  readonly>
                      <div class="input-group-btn">
                        <!-- Buttons -->
                        <button class="btn btn-primary" type="button">Afiliar-se</button>
                      </div>
                    </div><!-- /input-group -->
                  </form>
                  <form action="{% url 'university:university_course_sponsorship' campus.slug course.slug %}" method="post" class="form_input">
                    <input type="hidden" name="which_form" value="affiliate">
                    <input type="hidden" name="user_id" value="{{veteran_profile.user.id}}">
                    <input type="hidden" name="course_id" value="{{course.id}}">
                    <div class="input-group">
                      <div class="input-group-btn">
                        <!-- Buttons -->
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-user"></span></button>
                      </div>
                      <input type="text" class="form-control"  value="Marcos Jovem"  readonly>
                      <div class="input-group-btn">
                        <!-- Buttons -->
                        <button class="btn btn-primary" type="button">Afiliar-se</button>
                      </div>
                    </div><!-- /input-group -->
                  </form>
                  <form action="{% url 'university:university_course_sponsorship' campus.slug course.slug %}" method="post" class="form_input">
                    <input type="hidden" name="which_form" value="affiliate">
                    <input type="hidden" name="user_id" value="{{veteran_profile.user.id}}">
                    <input type="hidden" name="course_id" value="{{course.id}}">
                    <div class="input-group">
                      <div class="input-group-btn">
                        <!-- Buttons -->
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-user"></span></button>
                      </div>
                      <input type="text" class="form-control"  value="Marcos Jovem"  readonly>
                      <div class="input-group-btn">
                        <!-- Buttons -->
                        <button class="btn btn-primary" type="button">Afiliar-se</button>
                      </div>
                    </div><!-- /input-group -->
                  </form>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab2default">Default 2</div>
            <div class="tab-pane fade" id="tab3default">Default 3</div>
            <div class="tab-pane fade" id="tab4default">Default 4</div>
            <div class="tab-pane fade" id="tab5default">Default 5</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Nav Tab Panel -->
  </div>
</body>
</html>
