.main-content
{
  padding-top: 70px;
}
.side-bar
{
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 350px;
  overflow: hidden;
  z-index: 1000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 70px;
}
.content
{
  float: left;
  margin-left: 350px;
  overflow: hidden;
}
