.text_white {
  color: white; }

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
span,
button {
  font-weight: 400;
  font-family: "Open Sans", sans-serif; }

.centered, .footer, .account_box .forms, .default_section_title, .introduction_apresentation, .video {
  text-align: center; }

body {
  background-color: #eee;
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.primary-background, .footer {
  background-image: url("assets/images/overlay2.png"), linear-gradient(45deg, #4361c2, #4fa49a 50%, #9dc66b 95%); }

.footer {
  padding: 20px; }

input[type='submit']:focus,
button:focus,
a:focus {
  outline: 0; }

.facebook {
  background-color: #4E71A8; }

.twitter {
  background-color: #1CB7EB; }

.google {
  background-color: #E3411F; }

.user_profile_div {
  position: relative;
  height: 70px;
  text-align: left; }
  .user_profile_div img {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 10px; }
  .user_profile_div div {
    margin-left: 70px;
    padding-top: 23px; }

button:focus, button:focus {
  outline: none !important; }

.text_section {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: blue; }

.navbar-fixed-top {
  top: 0;
  border-width: 0;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999; }

.navbar-brand {
  padding: 0px 15px; }
  .navbar-brand img {
    vertical-align: middle;
    border: 0px;
    height: 50px; }

.navbar .enter_button {
  background-color: #58caf0;
  border-bottom: 3px solid #0f8bb5; }  
.navbar:focus, .navbar:active {
  outline: 0; }

.navbar-default .navbar-nav > .active > a {
  border-bottom: 3px solid #1CB7EB; }

.account_box #f1,
.account_box #f2 {
  text-decoration: none;
  color: black;
  padding: 15px;
  font-size: 20px;
  margin: 0px 0px 0px 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
.account_box .click {
  border-bottom: 3px solid white; }
.account_box .clicked {
  border-bottom: 3px solid #1CB7EB; }
.account_box .forms {
  margin-top: 15px;
  padding: 5px; }
.account_box form > label {
  font-size: 25px;
  float: left;
  margin: 2px 15px; }
.account_box textarea {
  width: 100%; }
.account_box input {
  width: 100%;
  padding: 15px 10px;
  font-size: 20px;
  margin-bottom: 10px; }
.account_box input[type='submit'] {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40%;
  color: white;
  background-color: #333;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px 10px;
  margin-left: 30%;
  margin-right: 30%; }
  .account_box input[type='submit']:hover {
    color: black;
    background-color: white; }
.account_box .button_image {
  height: 30px;
  width: 30px;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: 5px;
  margin-left: -15px; }
.account_box .content button {
  padding: 10px;
  color: white;
  border: none; }
.account_box .content .social {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-left: 30%;
  padding-right: 30%; }
  .account_box .content .social span {
    color: black; }
    .account_box .content .social span:after, .account_box .content .social span:before {
      content: "";
      display: block;
      width: 500px;
      position: absolute;
      top: 0.9em;
      border-top: 1px solid black; }
    .account_box .content .social span:after {
      right: 75%; }
    .account_box .content .social span:before {
      left: 75%; }
.account_box .content .buttons {
  width: 100%;
  margin: 30px 0px; }
  .account_box .content .buttons button {
    float: left;
    width: 30%;
    margin: 0px 1.5%; }
  .account_box .content .buttons:after {
    content: "";
    display: block;
    clear: both; }

#login {
  @extends .centered;
  margin: 20px 0px; }

#signup {
  @extends #login;
  display: none; }

.button, .default_button_white, .default_button_black, .request_button {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  letter-spacing: 0.125em;
  line-height: 2.75em;
  padding: 0 2em;
  text-transform: uppercase; }
  .button:hover, .default_button_white:hover, .default_button_black:hover, .request_button:hover {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: rgba(2F22, 222, 222, 0.5); }

.default_button_white {
  box-shadow: inset 0 0 0 1px rgba(222, 222, 222, 0.5);
  color: white; }

.default_button_black, .request_button {
  box-shadow: inset 0 0 0 1px rgba(144, 144, 144, 0.5);
  color: black; }

.request_button {
  background-color: #eee;
  z-index: 2;
  position: fixed;
  bottom: 20px;
  right: 20px; }

.default_section {
  height: 94vh;
  display: table;
  width: 100%; }

.default_section_content {
  display: table-cell;
  vertical-align: middle;
  padding: 10%; }

.background_green {
  background-color: #262F2C; }

.default_section_title {
  margin-bottom: 20px; }

.introduction_apresentation {
  display: table;
  height: 49vh;
  width: 100%;
  vertical-align: middle;
  background-image: url("images/overlay2.png"), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  padding-bottom: 20px;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; }
  .introduction_apresentation img {
    width: 100px;
    height: 100px; }
  .introduction_apresentation .introduction_content {
    vertical-align: middle;
    display: table-cell;
    padding: 0; }

.carousel {
  margin-top: 50px;
  height: 45vh;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999; }
  .carousel .item {
    height: 45vh; }

.carousel-caption {
  z-index: 10; }

.carousel-inner > .item > img {
  position: absolute;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  min-height: 100%; }
  .carousel-inner > .item > img:hover {
    opacity: 1;
    transform: scale(1.1); }

@media (min-width: 768px) {
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4; } }
.video iframe {
  width: 100%;
  max-width: 560px;
  height: 380px; }

.client_content {
  background-color: white;
  padding: 15px;
  border-bottom: 1px solid #d6d6d6;
  position: relative;
  right: 0;
  z-index: 2;
  margin: 1em;
  border-radius: 5px; }
  .client_content .client_avatar {
    background-color: #ededed;
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%; }
  .client_content .client_post_content {
    margin-left: 75px;
    padding-top: 9px; }
  .client_content .post_title,
  .client_content .post_body {
    display: block; }
  .client_content .post_title {
    font-size: 14px;
    color: #AFADAD; }
  .client_content .post_body {
    margin-top: 5px;
    font-size: 12px;
    color: #CCCBCB; }

.default_icon span {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 4px;
  border: solid 1px rgba(144, 144, 144, 0.5);
  height: 8em;
  line-height: 8em;
  margin: 2.5em;
  width: 8em;
  border-color: #ffffff; }
  .default_icon span::before {
    transform: rotate(-45deg);
    display: inline-block;
    line-height: inherit;
    font-size: 4em; }

.promotional_deliveries {
  position: relative; }
  .promotional_deliveries .label {
    text-align: left;
    margin-left: -20px;
    padding: 10px;
    color: white;
    font-size: 14px;
    background-color: orange;
    position: absolute; }
  .promotional_deliveries .line {
    margin-bottom: 50px;
    width: 100%;
    background-color: transparent;
    position: relative; }

/*# sourceMappingURL=main_page.css.map */
